body {
  font-family: "Courier New", Courier, monospace;
  background-color: #1a1a1a;
  color: #0f0; /* Green text for hacker/conspiracy feel */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align top */
  min-height: 100vh;
}

/* h1,
h2,
h3 {
  color: #0f0;
  text-shadow: 0 0 3px #0f0;
  border: "9px solid red"
} */

/* button {
  background-color: #030;
  color: #0f0;
  border: 1px solid #0a0;
  padding: 10px 15px;
  cursor: pointer;
  font-family: inherit;
  margin: 5px;
}

button:hover {
  background-color: #050;
}

button:disabled {
  background-color: #222;
  color: #070;
  cursor: not-allowed;
  border-color: #050;
} */

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  background-color: #2a2a2a;
  padding: 10px;
  border: 1px solid #060;
}

.item h3 {
  margin-top: 0;
}
